{% extends "base.html" %}
{% load i18n %}
{% block external %}<meta http-equiv="refresh" content="15;url=/login/">{% endblock %}
{% block title %}Password Reset Initiated{% endblock %}
{% block head %}{% endblock %}
{% block content %}
<div class="well well large">
	<h3>
		{% trans 'Your password has been reset' %}
	</h3>
	<h4>
		{% trans 'Please check your emails and follow the instructions.' %}		
	</h4>	
	<h5>
		{% trans 'You will be redirected to the login page in 15 seconds...' %}		
	</h5>	
</div>
{% endblock %}