{% extends "base.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% block title %}{% trans 'Password Reset' %}{% endblock %}
{% block head %}{% endblock %}
{% block content %}
{% if validlink %}
<div class="row-fluid">
	<div class="span6 offset3">
		<h1>{% trans 'Password Reset' %}</h1>		
	</div>
    <div class="span6 offset3">    	
		<form id="form_login" class="cb_margin_top" method="post" action=".">
			<div class="parent">	    	
				<div class="well well-large">	
					{% show_row_div_below_error form.new_password1|attr:"class:reset2-input"  %}					
					{% show_row_div_below_error form.new_password2|attr:"class:reset2-input"  %}	
					<input type="hidden" name="next" value="/" />					
	    			<a id="login-button" autocomplete="off" class="btn btn-primary btn-large cb-float-to-right">{% trans 'Change Password' %}</a>	    			    			
				</div>				
			</div>			    
    		{% csrf_token %}    		
		</form>
	</div>
</div>
{% else %}
	<h3>{% trans 'Password reset failed.' %}</h3>
	</h4>{% trans 'Please contact support.' %}</h4>
{% endif %}

{% endblock %}

