{% extends "base.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% block title %}Password Reset{% endblock %}
{% block sidebar %}	
{% endblock %}
{% block content %}

<div class="row-fluid">
	<div class="span6 offset3">
		<h1>{% trans 'Reset Password' %}</h1>		
	</div>
    <div class="span6 offset3">    	
		<form id="form_reset" class="cb_margin_top" method="post" action=".">
			<div class="parent">	    	
				<div class="well well-large">	
					{% show_row_div_below_error form.email|attr:"class:reset-input"  %}									
	    			<a href="/" class="btn btn-large cb-float-to-right">{% trans 'Cancel' %}</a>
	    			<button id="reset-button" type="submit" autocomplete="off" class="btn btn-primary btn-large cb-float-to-right">{% trans 'Reset' %}</button>	    			    			
				</div>				
			</div>			    
    		{% csrf_token %}    		
		</form>
	</div>
</div>

{% endblock %}