{% extends "base.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% load get_votes_for_punch %}
{% block content %}
<ul class="breadcrumb">
	<li><a id="back2contacts" href="/">{% trans 'Home' %}</a> <span class="divider">></span></li>
	<li class="active">{{template_title}}</li>	    	
</ul>

<div class="row-fluid">    
		<div class="parent">	    	
			<div>	
				<h2>{{ring.topic}}</h2>
				<h5>{% trans 'Category:' %} {{ring.category}}</h5>
				<h4>{{winner_sofar}} <span class="well-{{winner_color}}">{{winner}}</span></h4>				
				{% for punch in punches %}
					<div class="row">
						{% if punch.side = 'blue' %}						
							<div class="block_inline cb-float-to-left">
								{{punch.speaker.get_full_name}}
								<div class="well well-blue well-large">
									<p>{{punch.discussion}}</p>
								</div>
							</div>
							
							<div class="block_inline cb-float-to-left">
								{% if punch.speaker != user %}
									<a class="btn {% get_votes_for_punch punch user %}" href="/vote-up/discussion/{{punch.pk}}"><i class="icon-thumbs-up icon-large"/></i></a>
								{% endif %}
								
								{% trans 'Votes' %}: {{punch.get_votes}}
							</div>
							
						{% endif %}
	
						{% if punch.side = 'red' %}
							<div class="block_inline cb-float-to-right">
								{{punch.speaker.get_full_name}}
								<div class="well well-red well-large">
									<p>{{punch.discussion}}</p>
								</div>
							</div>
							
							<div class="block_inline cb-float-to-right">
								{% if punch.speaker != user %}
									<a class="btn {% get_votes_for_punch punch user %}" href="/vote-up/discussion/{{punch.pk}}"><i class="icon-thumbs-up icon-large"/></i></a>
								{% endif %}
								
								{% trans 'Votes' %}: {{punch.get_votes}}
							</div>
							
						{% endif %}
					</div>
				{% endfor %}
				{% if punch_form %}					
					<form class="{% if punch.side = 'red' %}cb-float-to-right{% else %}cb-float-to-left{% endif %}"  id="save_add_form" method="post" action=".">
						{% csrf_token %}
						{% show_row_div_below_error punch_form.side  %}
						{% show_row_div_below_error punch_form.discussion  %}			
						<a id="contact_cancel_btn" href="/" class="btn btn-large cb-float-to-right">{% trans 'Cancel' %}</a> 
						<button type="submit" id="add_topic" autocomplete="off" class="btn btn-primary btn-large cb-float-to-right">{% trans 'Add Your Opinion' %}</button>
					</form> 		
				{% endif %}	   			
			</div>
		</div>       
    	            
</div>

{% endblock %}
