{% extends "base.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% block content %}
<ul class="breadcrumb">
	<li><a id="back2contacts" href="/">{% trans 'Home' %}</a> <span class="divider">></span></li>
	<li class="active">{{template_title}}</li>	    	
</ul>

<div class="row-fluid">
    <form id="save_add_form" method="post" action=".">
		{% csrf_token %}
		<div class="parent">	    	
			<div class="well well-large">	
				{% show_row_div_below_error ring_form.topic  %}
				{% show_row_div_below_error ring_form.category %}	
				{% show_row_div_below_error ring_form.pick_side %}										
				{% show_row_div_below_error ring_form.blue_invite %}
				<div class="radio">
					{% show_row_div_below_error ring_form.rule %}
				</div>
				{% show_row_div_below_error punch_form.discussion %}										
				<a id="contact_cancel_btn" href="/" class="btn btn-large cb-float-to-right">{% trans 'Cancel' %}</a> 
				<button type="submit" id="add_topic" autocomplete="off" class="btn btn-primary btn-large cb-float-to-right">{% trans 'Start Discussion' %}</button>			   			
			</div>
		</div>    
	</form>    
    <div class="cb_req_legend">{% trans '* Required fields' %}</div>	            
</div>

{% endblock %}
