{% load widget_tweaks %}
{% load i18n %}
<div class="row">
	{% if punch.side = 'blue' %}						
		<div class="block_inline cb-float-to-left">
			{{punch.speaker.get_full_name}}
			<a class="btn btn-link cb-float-to-right" href='/discussion/edit/{{punch.pk}}/'>{% trans 'Edit' %}</a>
			<div class="well well-blue well-large">
				<p>{{punch.discussion}}</p>
			</div>
		</div>
		
		<div class="block_inline cb-float-to-left">
			{% if punch.speaker != user %}
				<a class="btn {% get_votes_for_punch punch user %}" href="/vote-up/discussion/{{punch.pk}}"><i class="icon-thumbs-up icon-large"/></i></a>
			{% endif %}
			
			{% trans 'Votes' %}: {{punch.get_votes}}
		</div>							
	{% endif %}

	{% if punch.side = 'red' %}
		<div class="block_inline cb-float-to-right">
			{{punch.speaker.get_full_name}}
			<div class="well well-red well-large">
				<p>{{punch.discussion}}</p>
			</div>
		</div>
		
		<div class="block_inline cb-float-to-right">
			{% if punch.speaker != user %}
				<a class="btn {% get_votes_for_punch punch user %}" href="/vote-up/discussion/{{punch.pk}}"><i class="icon-thumbs-up icon-large"/></i></a>
			{% endif %}
			
			{% trans 'Votes' %}: {{punch.get_votes}}
		</div>
		
	{% endif %}
</div>