<div class="row">	
	<div class="block_inline1">
		{% if form_field.field.required %}<label for="{{ form_field.auto_id }}" class="cb_inline_block" rel="tooltip" title="Required Field">{{form_field.label}}: *</label>{%else%}<label for="{{ form_field.auto_id }}">{{form_field.label}}:</label>{% endif %}                       
	</div>
	<div class="block_inline1">
		{% if form_field.errors %}
			<div class="field field_error">
				{{form_field}}          	
			</div>
		{% else %}
			{{form_field}}
		{% endif %}
	</div>	              	                     
</div>
<div class="row field field_error">
	<div class="cb-float-to-right">
		{{form_field.errors}}
	</div>
</div>