{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="hero-unit">
    <!-- <i class="icon-quote-left icon-4x pull-left"></i> -->
    <h1>{% trans 'Duel your friends &amp; foes'  %} <i class="icon-tint icon-2x pull-right"> </i></h1>
    <h3>{% trans 'Is there a topic you love to discuss with a friend or foe?' %}</h3>
	<h3>{% trans 'Simply do it and let the audience vote for who is right!' %}</h3>
    {% if user.is_authenticated %}
    	<p class="padding_by_10"><a href="/topics/add/" class="btn btn-success btn-large">{% trans 'Start a Topic' %} &raquo;</a><a href="topics/search/" class="btn btn-large margin_to_left">{% trans 'Find a Topic' %} &raquo;</a></p>
    {% else %}
    	<p class="padding_by_10"><a href="/register/" class="btn btn-primary btn-large">{% trans 'Sign up' %} &raquo;</a><a href="topics/search/" class="btn btn-large margin_to_left">{% trans 'Find a Topic' %} &raquo;</a></p>		            	
    {% endif %}
                
</div> 
<div class="row-fluid">
  	{% for ring in top3rings %}
        <div class="span4">
          <h3>{{ring.topic}}</h2>
          <p>{% trans 'Category' %}: {{ring.category}}</p>
          {% if ring.punch_set.all %}
          	<p>{{ ring.punch_set.all.0.discussion|slice:":100" }}...</p>
          {% endif %}  
          <p><a class="btn" href="/topics/discuss/{{ring.pk}}">{% if ring.red == user or ring.blue == user %}{% trans 'Continue discussion' %} &raquo; {% else %}{% trans 'View &amp; Vote &raquo; ' %}{% endif %}</a></p>
        </div><!--/span-->      
    {% endfor %}      
</div><!--/row-->
<div class="row-fluid">
  	{% for ring in top3_6rings %}
        <div class="span4">
          <h3>{{ring.topic}}</h2>
          <p>{% trans 'Category' %}: {{ring.category}}</p>
          {% if ring.punch_set.all %}
          	<p>{{ ring.punch_set.all.0.discussion|slice:":100" }}...</p>
          {% endif %}  
          <p><a class="btn" href="/topics/discuss/{{ring.pk}}">{% if ring.red == user or ring.blue == user %}{% trans 'Continue discussion' %} &raquo; {% else %}{% trans 'View &amp; Vote &raquo; ' %}{% endif %}</a></p>
        </div><!--/span-->    
    {% endfor %}        
</div><!--/row-->
{% endblock %}
